.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  align-items: stretch
}

.column,
.columns {
  padding: 0 15px;
  box-sizing: border-box;
  flex: 1;
}

@media (min-width: 400px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 550px) {
  .column,
  .columns {
    width: 50%;
  }

  .one.column { width: 8.333%; }
  .two.column { width: 16.666%; }
  .three.column { width: 25%; }
  .four.column { width: 33.333%; }
  .five.column { width: 41.666%; }
  .six.column { width: 50%; }
  .seven.column { width: 58.333%; }
  .eight.column { width: 66.666%; }
  .nine.column { width: 75%; }
  .ten.column { width: 83.333%; }
  .eleven.column { width: 91.666%; }
  .twelve.column { width: 100%; }

  .one-third.column { width: 33.333%; }
  .two-thirds.column { width: 66.666%; }
  .one-half.column { width: 50%; }

  .offset-by-one.column { margin-left: 8.333%; }
  .offset-by-two.column { margin-left: 16.666%; }
  .offset-by-three.column { margin-left: 25%; }
  .offset-by-four.column { margin-left: 33.333%; }
  .offset-by-five.column { margin-left: 41.666%; }
  .offset-by-six.column { margin-left: 50%; }
  .offset-by-seven.column { margin-left: 58.333%; }
  .offset-by-eight.column { margin-left: 66.666%; }
  .offset-by-nine.column { margin-left: 75%; }
  .offset-by-ten.column { margin-left: 83.333%; }
  .offset-by-eleven.column { margin-left: 91.666%; }

  .offset-by-one-third.column { margin-left: 33.333%; }
  .offset-by-two-thirds.column { margin-left: 66.666%; }
  .offset-by-one-half.column { margin-left: 50%; }
}

@media (min-width: 750px) {
  .column,
  .columns {
    width: 33.333%;
  }
}

@media (min-width: 1000px) {
  .column,
  .columns {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .column,
  .columns {
    width: 20%;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

h1 { font-size: 2.4rem; }
h2 { font-size: 3.6rem; }
h3 { font-size: 3.0rem; }
h4 { font-size: 2.4rem; }
h5 { font-size: 1.8rem; }
h6 { font-size: 1.5rem; }

@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #333;
  border-color: #888;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

.container:after,
.row:after,
.u-cf {
  display: table;
  clear: both;
}